<div class="footer text-center">
  <div class="row">
    <div class="col-md-6">
      <p class="links">Site Links:</p>
      <ul>
        <li><a routerLink="/" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/cards" routerLinkActive="active">Categories</a></li>
        <li><a routerLink="/explore" routerLinkActive="active">Explore</a></li>
        <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <p>Check Our Social Feed for regular updates</p>
      <div class="row footer-icon">
        <div class=""><i class="fab fa-facebook"></i></div>
        <div class=""><i class="fab fa-twitter-square"></i></div>
        <div class=""><i class="fab fa-instagram-square"></i></div>
      </div>
    </div>
  </div>
</div>
<div class="text-center text-white">
  <p>All rights reserved. © 2021 Happy Minds Pvt. Ltd..</p>
</div>
