<app-admin-nav></app-admin-nav> <br /><br />
<div class="container">
  <div class="row justify-content-around">
    <div class="col-md-4 ml-4">
      <a routerLink="/admin/product" routerLinkActive="active">
        <div class="card-body row box">
          <i class="fas fa-plus col-2"></i>
          <h5 class="col-10 mt-1">ADD PRODUCT</h5>
        </div>
      </a>
    </div>
    <div class="mt-2 col-md-4 ml-4">
      <a routerLink="/admin/store" routerLinkActive="active">
        <div class="card-body row box">
          <i class="fas fa-store col-2"></i>
          <h5 class="col-10 mt-1">ADD STORE</h5>
        </div>
      </a>
    </div>
  </div>
  <br /><br />
  <h2 class="text-white text-center">Store:</h2>
  <app-fav-store></app-fav-store>
  <h2 class="text-white text-center mt-4">Products:</h2>
</div>
<app-cards></app-cards>
