<app-navbar></app-navbar>
<br />
<p class="text-center headline">
  Welcome to Happy Deals - India's Craziest Coupons
</p>
<br />
<div class="explore-headline text-center mb-4">
  <h2>Explore Products</h2>
</div>
<app-cards></app-cards>
<br />
<div class="text-center">
  <a
    class="explore-more btn btn-outline-danger"
    routerLink="/explore"
    routerLinkActive="active"
    >EXPLORE MORE</a
  >
</div>
<br /><br />
<div id="scroll" class="explore-headline text-center">
  <h2>Coupons By Your Favorite Store</h2>
</div>
<br />
<br /><br />
<app-fav-store></app-fav-store>
<div class="explore-headline text-center">
  <h2>Hot Flat Deals</h2>
</div>
<app-hot-flat-deals></app-hot-flat-deals>
<app-footer></app-footer>
