<app-admin-nav></app-admin-nav>
<div class="container">
  <form
    #userForm="ngForm"
    (ngSubmit)="onSubmit(userForm)"
    class="form text-center"
  >
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        name="email"
        [(ngModel)]="users.email"
        class="form-control"
        id="email"
        aria-describedby="emailHelp"
        placeholder="Enter email"
        required
        minlength="2"
        pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}"
        type="email"
        #userEmail="ngModel"
        [class]="{ 'is-invalid': userEmail.errors && userEmail.touched }"
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        [(ngModel)]="users.password"
        name="password"
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
        #userPassword="ngModel"
        minlength="6"
        required
        [class]="{
          'is-invalid': userPassword.errors && userPassword.touched
        }"
      />
    </div>
    <div *ngIf="errorMsg" class="form-group">
      <small class="text-danger is-invalid">{{ errorMsg }}</small>
    </div>

    <button
      type="submit"
      [disabled]="!userForm.form.valid"
      class="btn btn-outline-danger"
    >
      Login
    </button>
    <br />
  </form>
</div>
